extends layout

block content
  div.overlay
  .container-fluid
      img#latestImg
      .row
        .col-md-4.text-center
          h1 Gender Ratio
          div#genderChart
        .col-md-4.text-center
          h1 Age and Gender Distribution
          div#visualization
        .col-md-4.text-center
          h1 Ethnicity Distribution
          div#raceChart