extends layout

block content
  div.overlay
  .container-title
    h1=title
  .container-fluid
      .row
          .col-md-5
            h1.text-center Gender Ratio
            div#genderChart
          .col-md-2
            div.drone_pic
          .col-md-5
            h1 Age and Gender Distribution
            div#visualization

