extends layout

block content
  div.overlay
  .container-fluid
      .row
        .col-md-4
          h1 Live Stream
          img#latestImg
        .col-md-8
          div#faces
            h1 Captured Faces
      .row
        .col-md-4.text-center
          h1 Gender Ratio
          div#genderChart
        .col-md-4.text-center
          h1 Age and Gender Distribution
          div#visualization
        .col-md-4.text-center
          h1 Ethnicity Distribution
          div#raceChart