

body {
	margin: 0;
	
}

a {
  color: #00B7FF;
}


.drone_pic{
	background-image: url('/img/dpic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 150px;
	margin-top: 150px;
}

#genderChart{
	position: relative;
	top: -43px;
}

#faces img {
    max-width: 300px;
    margin: 10px;
}

#latestImg {
	max-width: 100%;
}